/*********
Exercise 2
**********/
.nav-link{
    color: orange;
    text-decoration: none;
}

/*********
Exercise 3

margin:24px auto 24px auto; makes the top and bottom 24px and the left and right auto 
I could also do margin:24px auto I believe.
**********/
main{
    max-width: 500px;
    margin:24px auto;
}

/*********
Exercise 4

padding:16px makes the top,bottom, right and left 16px
**********/
section{
    margin:24px 0;
    border: 3px dotted orange;
    padding: 16px;
}

/*********
Exercise 5
**********/
#title{
    font-size: 40px;
    font-weight: 800;
}

/*********
Exercise 6
**********/
.d-inline{
    display: inline;
}

/*********
Exercise 7
**********/
nav > ul{
    list-style: none;
}

/*********
Exercise 8
**********/
body{
    background-color: #222222;
    color: #EEEEEE;
}

/*********
Exercise 9

margin:32px auto 32px auto; makes the top and bottom 24px and the left and right auto 
I could also do margin:24px auto I believe.
**********/
#avatar{
    width: 100px;
    margin:32px auto;
}